$primary: #05d561;
$text-color: #ffff;
.hero {
  width: 100%;
  background-image: url("images/hero-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar {
    background-color: transparent !important;
  }

  .hero-text {
    color: $text-color;

    h5 {
      font-size: 23px;
      font-weight: inherit;
    }

    h3 {
      font-size: 45px;
    }

    .btn-start {
      border-radius: 25px;
      background-color: $primary;
      color: $text-color;
      border-color: $primary;
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .hero-form {
    .card {
      .btn-submit {
      }

      input {
        background-color: #dfe3e9;
      }
    }

    .form-text .icon-box {
      display: inline-block;
      background-color: lighten($primary, 45%);
      border-radius: 100%;

      i {
        padding: 25px;
        font-size: 15px;
      }
    }

    .btn-submit {
      border-radius: 8px;
      background-color: $primary;
      color: $text-color;
      border-color: $primary;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

.features {

  .line {
    border-bottom: 2px solid #e4e3e7;
    width: 100%;
    height: 10px;
  }

  .features-text {
    p {
      font-size: 25px;
    }
  }
  .features-icons {
    .icon-box {
      display: inline-block;
      background-color: lighten($primary, 45%);
      border-radius: 100%;
      i {
        padding: 25px;
        font-size: 15px;
      }
    }
    h5{
      margin-top:18px;
      margin-bottom: 18px;
    }
    p{
      color:#5c636a;
    }
  }
}
.information{
  background-color: #dfe3e9;
  padding-top:80px;
  padding-bottom:80px;

  .information-image {
    img{
      border-radius:10px;
    }
  }
  .information-text{
    i{
      font-size: 24px;
    }
    p{
      padding-left: 32px;
    }
    span{
      font-weight: bold;
    }
    .btn-getquote{
      border-radius: 25px;
      background-color: $primary;
      color: $text-color;
      border-color: $primary;
      padding-left: 35px;
      padding-right: 35px;

    }
  }
}
.stats{
  background-image: url("images/stats-background.jpg");
}