$primary: #05d561;
$text-color: #ffff;
.hero {
  width: 100%;


  background-image: url("images/hero-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  position: relative;

  .hero-content{
    padding-top: 50px;
    padding-bottom: 50px;
  }

 .navbar{
   background-color: transparent !important;
 }
  .hero-text {
    color: $text-color;

    h5 {
      font-size: 23px;
      font-weight: inherit;
    }

    h3 {
      font-size: 45px;
    }

    .btn-start {
      border-radius: 25px;
      background-color: $primary;
      color: $text-color;
      border-color: $primary;
      padding-left: 35px;
      padding-right: 35px;

    }

  }

  .hero-form {




    .card{


      .btn-submit{

      }
      input{
        background-color: #dfe3e9;
      }
    }

    .form-text .icon-box {
      display: inline-block;
      background-color:#d9f9e7;
      border-radius: 100%;
      i{
        padding: 25px;
        font-size: 15px;
      }
    }



    .btn-submit {
      border-radius: 8px;
      background-color: $primary;
      color: $text-color;
      border-color: $primary;
      padding-left: 35px;
      padding-right: 35px;

    }

  }


}