$primary: #05d561;
$text-color: #ffff;
.hero {
  width: 100%;
  height: 973px;
  background-image: url("images/hero-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .hero-text {
    padding-top: 303px;
    padding-left: 95px;
    color: $text-color;

    h5 {
      font-size: 24px;
      font-weight: inherit;
    }

    h3 {
      font-size: 45px;
    }

    .btn-start {
      border-radius: 25px;
      background-color: $primary;
      color: $text-color;
      border-color: $primary;
      padding-left: 35px;
      padding-right: 35px;


    }

  }
  .hero-form{
    width: 200px;
    height: 200px;
  }


}