
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding-top: 100px;
  padding-left: 500px;


  .btn-angle {

  }

  .btn-ellipsis {

  }
}






