.small-view {
  padding-top: 100px;
  width: 300px;
  margin:0 auto;

  .options {
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .image{
    img{
      max-width: 100%;
    }
  }
}