body {
  background-color: #111111;
}

.small-view {
  background-color: #075e54;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #333;


  .options {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;


    .icons {
      .search-icon {
        margin-right: 15px;
      }
    }
  }

  .nav-bar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;


    i {
      color: #e8e4e4;
    }

    .nav-items {

      a {
        text-decoration: none !important;
        color: #e8e4e4;

      }

      .nav-item {
        margin-right: 10px;
      }
    }
  }

  .chats {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;

    h5 {
      color: #808080 !important;
    }

    .time {
      h5 {
        margin-top: 4px;
      }
    }

    .avatar {
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    }

    .message {


      h3 {
       margin-bottom: -22px !important;
      }


    }
  }
}

