.capabilities {
    background-color: #e0e0e0;

}

a {
    text-decoration: none;
}

.navbar-nav .nav-link {

    color: #f6f0f0 !important;
}

.navbar {
    background-color: #5d21d1 !important;
}

.navbar .navbar-collapse .navbar-nav .navbar-icon {
    color: white;
}

.navbar .navbar-collapse .navbar-nav .navbar-icon {
    color: white;
}

.navbar .navbar-collapse .navbar-nav .navbar-title {
    color: white;
}

.navbar .navbar-collapse .d-flex .btn-purchase {
    color: black;
    background-color: #8be9e1;
}

.banner {
    background-color: #5d21d1;
    width: 100%;
    height: 500px;
}

.banner .banner-article h1 {
    color: white;
    font-size: 32px;
}

.banner .banner-article p {
    color: white;
    font-size: 15px;
}

.banner .banner-article {
    padding-top: 100px;
}

.banner .btn-StartFree {
    background-color: #8be9e1;
    color: black;
}

.banner .btn-Learn {
    border-color: #8be9e1;
    color: #8be9e1;
}

.banner .banner-article .banner-icon span {
    color: white;
}

.banner .banner-article .banner-icon a i {
    color: white;
}

.banner .banner-img img {
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

.capabilities {
    margin-bottom: 50px;
}

.capabilities .capabilities-img {
    margin-top: 90px;
    background-color: #eee8ff;
    width: 50%;
    height: 570px;
    border-radius: 15px;
}

.capabilities .capabilities-text h5 {
    background-color: #eee8ff;
    display: inline-block;
    border-radius: 5px;
    color: #5d21d1;
    padding: 10px;
}

.capabilities .capabilities-text {
    margin: auto;
    padding: 120px;
}

.capabilities .capabilities-text .line {
    border-bottom: 1px solid #b0bac8;
    display: inline-block;
    width: 100%;

}

.capabilities .icon-box {
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    line-height: 32px;
}

.capabilities .icon-box .icon {
    float: left;
    background: #eee8ff;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    line-height: 32px;
}

.capabilities .icon-box .icon-text {
    font-weight: bold;
}

.capabilities .icon-box .icon i {
    color: #5d21d1;
}

.capabilities .icon-box:hover {
    background-color: #eee8ff;
}

.capabilities .capabilities-img .capabilities-bottom img {
    width: 347px;
    height: 430px;
    position: absolute;
    display: inline-block;
}

.capabilities .capabilities-img .capabilities-top img {
    width: 360px;
    height: 421px;
    position: absolute;
    display: inline-block;
    left: 168px;
    top: 122px;
}

.capabilities .images {
    position: relative;
    left: -8px;
}

.basicfeatures img {

}

.basicfeatures h5 span {
    background-color: #eee8ff;
    border-radius: 5px;
    color: #5d21d1;
    padding: 10px;
}

.basicfeatures .feature-box {
    background-color: #fcf1ff;
    padding: 20px;
    border-radius: 15px;
}

.basicfeatures .feature-box a {
    color: #5d21d1;
}

.additionalfeatures .additional-text h5 {
    background-color: #eee8ff;
    display: inline-block;
    border-radius: 5px;
    color: #5d21d1;
    padding: 10px;
}

.additionalfeatures .additional-img {
    margin-top: 90px;
    background-color: #eee8ff;
    width: 100%;
    height: 570px;
    border-radius: 15px;

}

.additionalfeatures .additional-text {
    margin-top: 200px;
}

.additionalfeatures .additional-img .additional-bottom img {
    width: 532px;
    height: 430px;
    position: absolute;
    display: inline-block;
}

.additionalfeatures .additional-img .additional-top img {
    width: 360px;
    height: 421px;
    position: absolute;
    display: inline-block;
    left: 212px;
    top: 140px;
}

.additional-img .images {
    position: relative;
    left: -8px;
}

.customer-review .review-box {
    background: #eee8ff;
    border-radius: 7px;
}

.customer-review .review-box img {
    width: 100%;
    height: 337px;
    padding: 50px;
}

.pricing-plans {
    background-color: #5d21d1;
    width: 100%;
    height: 900px
}

.pricing-plans .plans-box {

    background-color: white;
    margin-top: 50px;
    border-radius: 25px;
    padding:20px;

}

.pricing-plans h5 span {
    background-color: #45179f;
    display: inline-block;
    border-radius: 25px;
    color: #ffffff;
    padding: 10px;
    text-align: center;

}

.pricing-plans p {
    color: #ffffff;
}

.pricing-plans h3 {
    color: #ffffff;
}

.pricing-plans .plans-box .btn-getstarted {
    background-color: #5d21d1;
    border-color: #5d21d1;
    margin-left: 40px;
    margin-top: 20px;
    width: 80%;
}

.pricing-plans .plans-box .price .currency {
    font-size: 20px;
    position: absolute;
    bottom:50px;
    left:-12px;
    font-weight: bold;
}
.pricing-plans .plans-box .price{
    position: relative;
    font-weight: bold;

}
.pricing-plans .plans-box .price .price-text{
    font-size: 70px;
}
.pricing-plans .plans-box .plans-list ul li{
    font-size: 30px;
font-weight: revert;
}
.more-features .more-features-box{
    background-color: #fcf1ff;
    border-radius: 20px;
    padding: 30px;
}




