.navbar-light .navbar-right .text {
  display: inline-block;
}
.navbar-light .navbar-right .social-icons {
  display: inline-block;
}

.nav-middle .nav-search {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}
.nav-middle .text {
  margin-top: 60px;
}
.nav-middle .shopping-cart {
  margin-top: 60px;
}
.nav-middle .line {
  border-bottom: 1px solid #eaeaea;
  padding-top: 5px;
}

.nav-lower .collapse li {
  margin-right: 25px;
}

.line {
  border-bottom: 1px solid #eaeaea;
  padding-top: 5px;
}

.banner .carousel-inner {
  position: relative;
}
.banner .carousel-inner .line {
  border-bottom: 1px solid #ffffff;
  width: 100px;
  margin-left: 129px;
}
.banner .carousel-inner .banner-text {
  position: absolute;
  top: 150px;
  right: 200px;
  color: white;
}

.new-arrivals {
  margin-top: 80px;
}
.new-arrivals h2 {
  margin-bottom: 80px;
}
.new-arrivals .shop .shop-item p {
  text-align: center;
  color: #5c636a;
  margin-top: 25px;
}
.new-arrivals .shop .shop-item .image {
  position: relative;
  overflow: hidden;
}
.new-arrivals .shop .shop-item .image .button {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  bottom: 350px;
  left: 25px;
}
.new-arrivals .shop .shop-item .image:hover .button {
  opacity: 1;
}
.new-arrivals .shop .shop-item .image .text {
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  bottom: -100px;
  width: 100%;
}
.new-arrivals .shop .shop-item .image .text h3 {
  background-color: black;
  border-radius: 5px;
  color: white;
}
.new-arrivals .shop .shop-item .image:hover .text {
  opacity: 1;
  bottom: 0;
}
.new-arrivals .shop .shop-item .image img {
  width: 100%;
}
.new-arrivals .shop .shop-item h4 {
  text-align: center;
  font-weight: bolder;
}

.subscribe {
  margin-top: 70px;
  background-color: #eff3fa;
  padding: 50px;
}
.subscribe p {
  font-weight: bolder;
  color: #4e4e4f;
  font-size: 23px;
}
.subscribe .btn-subscribe {
  background-color: black;
  color: white;
}
.subscribe .input-group {
  width: 60%;
}

.best-sellers {
  margin-top: 80px;
}
.best-sellers h2 {
  margin-bottom: 80px;
}
.best-sellers .shop .shop-item p {
  text-align: center;
  color: #5c636a;
  margin-top: 25px;
}
.best-sellers .shop .shop-item .image {
  position: relative;
  overflow: hidden;
}
.best-sellers .shop .shop-item .image .button {
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  bottom: 350px;
  left: 25px;
}
.best-sellers .shop .shop-item .image:hover .button {
  opacity: 1;
}
.best-sellers .shop .shop-item .image .text {
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  bottom: -100px;
  width: 100%;
}
.best-sellers .shop .shop-item .image .text h3 {
  background-color: black;
  border-radius: 5px;
  color: white;
}
.best-sellers .shop .shop-item .image:hover .text {
  opacity: 1;
  bottom: 0;
}
.best-sellers .shop .shop-item .image img {
  width: 100%;
}
.best-sellers .shop .shop-item h4 {
  text-align: center;
  font-weight: bolder;
}

footer {
  margin-bottom: 50px;
  margin-top: 80px;
  font-size: 15px;
}
footer h3 {
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 20px;
}
footer p {
  color: #616262;
}
footer .footer-icon i {
  background: #e0dcdc;
  border-radius: 100%;
  color: #8a8888;
  padding: 5px;
}
footer .line {
  border-bottom: 1px solid #eaeaea;
}

/*# sourceMappingURL=style.css.map */
