.navbar-light {
  .navbar-right {
    .usd-form {
      display: inline-block;
    }

    .social-icons {
      display: inline-block;

      i {
        background: #efeaea;
        border-radius: 100%;
        color: #8a8888;
        padding: 5px;
      }
    }

  }
}
.nav-middle {
  .nav-search {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
  }

  .text {
    margin-top: 60px;
  }

  .shopping-cart {
    margin-top: 60px;
    color: #8a8888;

    i {
      color: #8a8888;
    }

  }

  .line {
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;

  }
}

.nav-lower {
  .collapse {
    li {
      margin-right: 25px;
    }
  }
}

.line {
  border-bottom: 1px solid #eaeaea;
  padding-top: 5px;
}

.banner {
  .banner-item {
    position: relative;

    .banner-text {
      position: absolute;
      top: 150px;
      right: 100px;
      color: white;

      h1 {
        font-size: 65px;
      }

      .line {
        border-bottom: 1px solid #eaeaea;
        width: 150px;
        margin-left: 150px;
      }
    }
  }
}

.new-arrivals {
  margin-top: 80px;

  h2 {
    margin-bottom: 80px;
  }

  .shop {

    .shop-item {

      p {
        text-align: center;
        color: #5c636a;
        margin-top: 25px;
      }

      .image {
        position: relative;
        overflow: hidden;

        .out-of-stock {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: #ffff;
          padding: 10px;
          width: 100%;
          text-align: center;
          opacity: .75;
        }
      }
    }

    .button {
      opacity: 0;
      transition: opacity 0.5s;
      position: absolute;
      top: 10px;
      left: 25px;
    }

    &:hover .button {
      opacity: 1;

    }

    .text {
      opacity: 0;
      transition: all 0.5s;
      position: absolute;
      bottom: -100px;
      width: 100%;

      h3 {
        background-color: black;
        color: white;
        font-size: 23px;
      }
    }

    &:hover .text {
      opacity: 1;
      bottom: -8px;
    }

    img {
      width: 100%;
    }

  }

  h4 {
    text-align: center;
    font-weight: bolder;
  }
}

.subscribe {
  margin-top: 70px;
  background-color: #f6f9fd;
  padding: 50px;

  p {
    font-weight: bolder;
    color: #4e4e4f;
    font-size: 23px;
  }

  .btn-subscribe {
    background-color: black;
    color: white;
  }

  .input-group {
    width: 60%;
  }
}

.best-sellers {
  margin-top: 80px;

  h2 {
    margin-bottom: 80px;
  }

  .shop {
    .shop-item {
      p {
        text-align: center;
        color: #5c636a;
        margin-top: 25px;
      }

      .image {
        position: relative;
        overflow: hidden;

        .button {
          opacity: 0;
          transition: all 0.5s;
          position: absolute;
          top: 10px;
          left: 25px;
        }

        &:hover .button {
          opacity: 1;
        }

        .text {
          opacity: 0;
          transition: all 0.5s ease;
          position: absolute;
          bottom: -100px;
          width: 100%;

          h3 {
            background-color: black;
            color: white;
            font-size: 23px;

          }
        }

        &:hover .text {
          opacity: 1;
          bottom: -8px;
        }


        img {
          width: 100%;
        }
      }

      h4 {
        text-align: center;
        font-weight: bolder;
      }
    }
  }
}

footer {
  margin-bottom: 50px;
  margin-top: 80px;
  font-size: 15px;

  h3 {
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: 20px;
  }

  p {
    color: #616262;
  }

  .footer-icon {
    i {
      background: #efeaea;
      border-radius: 100%;
      color: #8a8888;
      padding: 5px;
    }
  }

  .line {
    border-bottom: 1px solid #eaeaea;


  }
}

.filters {
.categories{
  margin-top: 80px;
}

 ul{
   li{
     a{
color: black !important;
     }
   }
 }
}