.nav-middle {
  .nav-search {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
  }

  .text {
    margin-top: 60px;
  }

  .shopping-cart {
    margin-top: 60px;
  }

  .line {
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;
  }
}

.nav-lower {
  .collapse {
    li {
      margin-right: 25px;
    }
  }
}

.line {
  border-bottom: 1px solid #eaeaea;
  padding-top: 5px;
}

.new-arrivals {
  margin-top: 80px;

  h2 {
    margin-bottom: 80px;
  }

  .shop {
    .shop-item {
      p {
        text-align: center;
        color: #5c636a;
        margin-top: 25px;
      }
      img{
        width: 100%;
      }

      h4 {
        text-align: center;
        font-weight: bolder;
      }
    }
  }
}
.subscribe{
  margin-top: 70px;
  background-color: #eff3fa;
  padding: 50px;

  p{
    font-weight: bolder;
    color: #4e4e4f;
    font-size: 23px;
  }
  .btn-subscribe{
    background-color:black;
    color: white;
  }
  .input-group{
    width:60%;
  }
}
.best-sellers{
  margin-top: 80px;

  h2 {
    margin-bottom: 80px;
  }

  .shop {
    .shop-item {
      p {
        text-align: center;
        color: #5c636a;
        margin-top: 25px;
      }
      img{
        width: 100%;
      }

      h4 {
        text-align: center;
        font-weight: bolder;
      }
    }
  }
}