.nav-middle {
  .line {
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;
  }

  .nav-search {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;

  }

  .text {
    margin-top: 60px;
  }

  .shopping-cart {
    margin-top: 60px;
  }
}

.nav-lower {
  .collapse {
    li {
      margin-right: 25px;
    }
  }
}
 .line {
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;
  }
