$btn-border-radius: 0;
$primary: #754ffe;

//Bootstrap colors override
$custom-colors: (
    "primary":  $primary,
    "success": #19cb98
);

$theme-colors: map-merge($theme-colors, $custom-colors);
//