@import "variables";

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7e9ec;
}

.hero {
  .hero-image {
    img {
      width: 100%;
    }
  }

  .hero-button {
    .browse {
      font-size: 16px;
    }

    .instructor {
      font-size: 16px;
    }
  }
}

.notification {
  position: relative;

  .notification-alert {
    width: 8px;
    height: 8px;
    background-color: $primary;
    position: absolute;
    top: 3px;
    right: 0;
    border-radius: 100%;
  }
}

.user-avatar {
  position: relative;

  img {
    border-radius: 100%;
    width: 38px;
    height: 40px;
  }

  .notification-alert {
    width: 8px;
    height: 8px;
    background-color: #00cc00;
    position: absolute;
    bottom: -8px;
    right: 3px;
    border-radius: 100%;
  }
}

.features {
  .feature-item {
    display: flex;
    align-items: center;

    .feature-item-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffeeda;
      color: #c28135;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 100%;

      svg {
        width: 19px;
        height: 19px;
      }
    }
  }
}

.course-list {
  padding: 10px;
  margin-top: 25px;

  .course-item {
    margin-right: 20px;

    .card {
      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .card-body {
        .card-title {
          font-size: 17px;
        }

        .content {
          color: #5c636a;
          font-size: 15px;

          svg {
            width: 17px;
            height: 17px;
          }
        }

        .icon-star {
          i {
            color: #ffc107;
            font-size: 11px;
          }

          .text {
            color: #ffc107;
            font-size: 14px;
          }

          .small-text {
            color: #5c636a;
            font-size: 12px;
          }
        }

        .line {
          border-bottom: 1px solid #e4e3e7;
          width: 100%;
          height: 10px;
        }
      }

      .card-footer {
        background-color: white;

        .card-person {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            border-radius: 100%;
            width: 35px;
            height: 37px;
            display: inline-block;
          }

          .name {
            font-size: 14px;
            color: #5c636a;
          }

          .icon-bookmark {
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7e7d7d !important;
  font-size: 13px;

  a {
    margin-right: 28px;
    color: #7e7d7d !important;
  }
}
