@import "variables";

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  .hero-image {
    img {
      width: 100%;
    }
  }

  .hero-button {
    .browse {
      font-size: 16px;
    }

    .instructor {
      font-size: 16px;
    }
  }
}

.notification {
  position: relative;

  .notification-alert {
    width: 8px;
    height: 8px;
    background-color: $primary;
    position: absolute;
    top: 3px;
    right: 0;
    border-radius: 100%;
  }
}

.user-avatar {
  position: relative;

  img {
    border-radius: 100%;
    width: 38px;
    height: 40px;
  }

  .notification-alert {
    width: 8px;
    height: 8px;
    background-color: #00cc00;
    position: absolute;
    bottom: -8px;
    right: 3px;
    border-radius: 100%;
  }
}

.features {
  .feature-item {
    display: flex;
    align-items: center;

    .feature-item-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffeeda;
      color: #c28135;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 100%;

      svg {
        width: 19px;
        height: 19px;
      }
    }
  }
}

.course-list {
  .course-item {
    .card {
      .card-body {
        .card-title{
          font-size: 17px;
        }
        .content {
          svg {
            width: 17px;
            height: 17px;
          }
        }
        .icon-star{
          i{
            color:#ffc107;
            font-size: 11px;
          }
          .text{
            color:#ffc107;
            font-size: 14px;
          }
          .small-text{
            color: #5c636a;
            font-size: 12px;
          }
        }
        }
      }
    }
  }
